body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.color {
    color: brown;
}

p {
    text-align: justify;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width-one {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;

}

.half-width-one img {
    width: 80%;
}

.half-width-two {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;

}

.half-width-two img {
    width: 80%;
}

.experiences-area {

    background-image: url(design-image/bg-shape.png);
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: lighten;
}

.half-width-three {
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}


.link-button {
    text-decoration: none;
    background-color: darkcyan;
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700px;
}

.top-banner {
    background-image: url(design-image/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: left;

}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(darkblue, lightblue);
    border-image-slice: 1;
}

#noob-stack {

    border-left: 7px solid;
    border-image: linear-gradient(darkcyan, rgb(103, 255, 255));
    border-image-slice: 1;
    border-radius: 5px;
}

footer p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: brown;
}