body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.color {
    color: brown;
}

p {
    text-align: justify;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width-one {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;

}

.half-width-one img {
    width: 80%;
}

.half-width-two {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;

}

.half-width-two img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: darkcyan;
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700px;
}

.top-banner {
    background-image: url(design-image/top-banner.jpg);
    background-repeat: no-repeat;

}