/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

.open-sans-name {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Open sans */

/* Header */

.header{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: 1920px;
}

/* Nav Style */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 50px;
}
.nav-title .primary-color{
    color: #FD6E0A;
}
/* Nav List */
.nav-list{
    display: flex;
    align-items: center;
}

.nav-list li{
    margin-right: 50px;
    list-style: none;
    font-size: 20px;

}
.nav-list a{
    text-decoration: none;
}
/* Shared Style */

.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}
.text-center{
    text-align: center;
}

/* Button */
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
/* Section Part */
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-weight: normal;
    font-size: 18px;
}

/* Banner Style */

.banner-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 160px;

}
.banner-heading{
    font-size: 60px;
    font-weight: bold;
    margin-top: -20px;
}
.banner-description{
    font-size: 15px;
    font-weight: normal;
    color: #474747;
    margin-top: -20px;
}
.banner-content .btn-primary{
    margin-top: 10px;
    margin-left: 10px; 
}
.image {
    width: 585px;
    height: 676px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 200px;
}
.banner-content{
    width: 585px;
}
/* Main styles */
main{
    max-width: 1140px;
    margin: auto;
}
/* About Me */
.about{
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-information .info-title{
    font-size: 18px;
    font-weight: normal;
    color: #474747;
}
.about-information .info-descrip{
    font-weight: bold;
    font-size: 18px;
    color: #474747;
}
.about-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Skills styles */

.skills{
    margin-bottom: 130px;
}
.skills .section-title{
    text-align: center;
}
.skills .section-description{
    text-align: center;
    margin: 0 auto;
    padding: 0 50px 0 50px;
    font-size: 18px;
    line-height: 30px;
    color:#757575;
}
.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skills-type{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;

}
.skill-title{
    font-size: 20px;
    font-weight: bold;
}
.skill-description{
    font-size: 16px;
    color:#757575;
}

/* Resume Style */
.resume{
    margin-bottom: 130px;
}
.section-title{
    font-size: 35px ;
    font-weight: bold;
    text-align: center;
}

.resume-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.resume-container h3{
    font-size: 30px;
    font-weight: bold;
}
.resume-container h4{
    font-size: 25px;
    color: #474747;
}
.resume-container .year{
    font-size: 20px;
    color: #757575;
    line-height: 10px;
}
.edu-description{
    font-size: 16px;
    color: #757575;
    letter-spacing: 2px;
}
.dev-exp-description{
    font-size: 16px;
    color: #757575;
    letter-spacing: 2px;
}
.resume-col-title{
    line-height: 30px;
}
.edu-exp-title{
    line-height: 10px;
}
.dev-exp-title{
    line-height: 10px;
}
